
<!DOCTYPE html>
<html>
@Html.Partial("_Head")


<body class="background-tint">

    @Html.Partial("_StoreNavbar")
    <div class="container body-content">

        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
