@model Yonder.Models.Offer

@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/AdminHome/_adminHomePage.cshtml";
}
<div class="loading" style="display:none">Loading</div>
<h2 class="w3-margin-top col-md-10 col-md-offset-1"
    style="background-color:#F7D031;padding:15px 15px 15px 15px;">
    Category Images
</h2>

<div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">

        <div class="tab-pane fade in active" id="Recharge">
            <div class="panel-group">
                @using (Ajax.BeginForm("Offers", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "OfferForm" }))
                {
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(m => m.category, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.category, "", new { @class = "text-danger" })
                            @Html.DropDownListFor(m => m.category, new SelectList(Model.offerTypes, "FloorType", "FloorType"), "Select Category", new { @class = "form-control", id = "ddlshop" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="ImageFile">
                                Upload Image
                            </label>
                            <input type="file" name="ImageFile" id="ImageFile" class="form-control" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Valid_From, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.Valid_From, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Valid_From, new { @class = "form-control datepicker" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Valid_Till, new { @class = "control-label" })
                            @Html.ValidationMessageFor(m => m.Valid_Till, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(m => m.Valid_Till, new { @class = "form-control datepicker" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input class=" btn btn-default" style="background-color:#ffd800" type="submit" value="Add Offer" />
                        </div>
                    </div>


                }
            </div>
        </div>
        </div>
    <div class="panel-footer">
        <a href="@Url.Action("List")"><span class="glyphicon glyphicon-list"></span> Offers List</a>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker()
            $('#OfferForm').submit(function (event) {
                event.preventDefault();
                event.stopImmediatePropagation();
                var action = $("#OfferForm").attr("action");
                var data = new FormData($("#OfferForm").get(0))
                if (document.getElementById("ImageFile").files.length !== 0)
                    var file = document.getElementById("ImageFile").files[0];
                data.append("ImageFile", file)
                if ($('#OfferForm').valid()) {
                    $('.loading').show();
                    $.ajax({
                        url: action,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            if (result.success) {
                                $('.loading').hide();
                                toastr.success(result.message, "Success", { positionClass: 'toast-top-center' })
                            }
                            else {
                                $('.loading').hide();
                                toastr.error(result.message, "Error", { positionClass: 'toast-top-center' })
                            }
                        },
                        error: function (result) {
                            $('.loading').hide();
                            toastr.error("Server Error", "Error", { positionClass: 'toast-top-center' })
                        }
                    })
                }

            })
        })
    </script>
}

